In [94]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
df.sum()
df.describe(include='all')
df.drop([2,3]) #you can add inplace parameter
# Drops columns 0, 3
df1.drop([1,2], axis=0)
# Table-wise Function Application pipe()
def adder(ele1,ele2):
    return ele1+ele2
df1 = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df1.pipe(adder,2)
# Row/collumn-wise Function Application pipe()
df2 = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df2.apply(np.sum , axis=0)
# Element Wise Function Application
df2['col1'].map(lambda x:x+100)
# Working with Text Data
# Options and Customization
# Python Pandas - Indexing and Selecting Data loc
df.loc[:,'Name']
df.loc[:,['Name','Age']]
df.loc[[5,3,7],:]
df.loc[5,'Name']
df.loc[5,['Name','Age']]
df.loc[[5,3,1],['Name','Age']]
df.loc[1:3]#a range of rows for all collumsa
df.loc[2:4,['Age','Rating']]>0

# .iloc() integer based
df.iloc[:2,:1]
df.iloc[1:2,2:3]
# .ix() hybrid
# df.ix[:,'Name']

#Descriptive statistics
df.mode(axis=0,numeric_only=True)
# Python Pandas - Comparison with SQL
df[['Name', 'Age', 'Rating',]].head(5) # select top five
df[df['Age']==25] # select where age=25
df.groupby('Age').size() #select group by
df[(df['Age']==25)][['Age','Rating']] # select Age,Rating where age=25


# Python Pandas - Timedelta
pd.Timedelta('2 days 2 hours 15 minutes 30 seconds') #string
pd.Timedelta(6,unit='h')#integer
pd.Timedelta(days=2) #data offsets

Timedelta('2 days 00:00:00')