In [ ]:
import pandas as pd
import numpy as np
import pprint as pprint

###Loadind data from csv files into datafreames

In [ ]:
# Restaurants
dfaccepts=pd.read_csv(filepath_or_buffer='Restaurant-data/chefmozaccepts.csv',encoding='ascii')
dfcuisine=pd.read_csv(filepath_or_buffer='Restaurant-data/chefmozcuisine.csv',encoding='utf8')
dfhours4=pd.read_csv(filepath_or_buffer='Restaurant-data/chefmozhours4.csv',encoding='utf8')
dfparkingdata2=pd.read_csv('Restaurant-data/chefmozparking.csv')
dfgeoplaces=pd.read_csv(filepath_or_buffer='Restaurant-data/geoplaces2.csv',encoding='latin-1')
# # consumers
dfusercuisine=pd.read_csv('Restaurant-data/usercuisine.csv')
dfuserpayment=pd.read_csv('Restaurant-data/userpayment.csv')
dfuserprofile=pd.read_csv('Restaurant-data/userprofile.csv')
# user item rating
dfrating=pd.read_csv('Restaurant-data/rating_final.csv')

###cleaning Data

In [ ]:
# data cleaning
##Geopplaces
# replace all ? with nan
def cleandfgeoplaces():
    withoutqm=dfgeoplaces.replace('?',np.NaN)
#     nulvalues=withoutqm.isnull()
    withoutqm.isnull().sum(axis=0)
    # Drop null collunms bellow a given threshhod here 74. Removes zip,url and fax
    droppedCollumns=withoutqm.dropna(thresh=74,axis=1)
    clean=droppedCollumns.isnull().sum(axis=0)
    # droppedCollumns.isnull().sum(axis=1)
    return clean

# cleandfgeoplaces()
def cleandfuserprofile():
    # find and replace all questionmarks with NAN 
    withoutqm=dfuserprofile.replace('?',np.NaN)
    clean=withoutqm.isnull().sum(axis=0)
    return dfuserprofile

def dfhours4clean():
    pass
#     check for and remove dublicates
# check and interpolate Nan values
# check on the dates that are erronious and resolve
# general cleaning()
def cleandf(data):
    data.replace('?',np.NaN,inplace=True)
    print('no. of duplicates', data.duplicated().sum(axis=0))
    print('null rows',data.isnull().sum(axis=0))
    data.drop_duplicates(inplace = True)
#     adult['sex'].map(lambda x: x.lower()).head()
    print(data.describe())
    return 0

cleandf(dfaccepts)

In [ ]:
# 2.1.3. What are the names of different restaurants in the state of ‘tamaulipas’?
# select where name is tamaulipas
dfgeoplaces.loc[:,['name']][(dfgeoplaces.state=='tamaulipas')]

In [ ]:
# 2.1.4. How many different customers used public transport for going to therestaurants?
len(dfuserprofile[dfuserprofile['transport']=='public'])

In [ ]:
# 2.1.5. What is the least popular payment method among customers?
min(dfuserpayment.groupby('Upayment'))

In [ ]:
# 2.1.6. How many (different) restaurants work until 19:00 in the evenings?
# len(dfhours4[dfhours4=='00:00-19:00'])
dfhours4.hours
# ===================================================
# pd.to_timedelta(dfhours4.hours)

In [ ]:
# 2.1.7. Which type of food (rcuisine) is served most among the restaurants?
dfcuisine.loc[:,'Rcuisine'].mode()

In [ ]:
# 2.1.8. What is the percentage of customers who were born between 1980 and 1990?
dfuserprofile.loc[:,'birth_year'] #add where clause 
len(dfuserprofile[(dfuserprofile.birth_year>=1980) & (dfuserprofile.birth_year<=1990)])/len(dfuse)

In [ ]:
# 2.1.9. What is the percentage of students with a medium budget preferring walking to the restaurants?
len(dfuserprofile[(dfuserprofile.budget=='medium') &(dfuserprofile.transport=='on foot')])/len(dfuserprofile)*100

###Assignment2- Part 2:

In [ ]:
# 2.2.1. What are the names of restaurants that do not have public parking lots?
dfgeoplaces[['placeID','name']].merge(dfparkingdata2[dfparkingdata2.parking_lot!='public'],how='inner',on='placeID').name

In [ ]:
# 2.2.2. What are the addresses of restaurants which only accept ‘cash’?
dfgeoplaces.address
dfuserpayment[dfuserpayment.Upayment=='cash']
# dfgeoplaces[dfgeoplaces.]
dfgeoplaces
# ========================================================================

In [ ]:
# 2.2.3. Name the cities where the restaurants cook and serve ‘fast food’?
dfgeoplaces[['placeID','city']] 
dfcuisine[dfcuisine.Rcuisine=='Fast_Food']
dfgeoplaces[['placeID','city']].merge(dfcuisine[dfcuisine.Rcuisine=='Fast_Food'],how='inner',on='placeID').city ##names not distict=== to add distinct

In [137]:
# 2.2.4. What is the most common ‘rating’ among customers with family?

dfrating.rating.mode()
dfuserprofile[dfuserprofile.ambience=='family']
dfrating[['userID','rating']].merge(dfuserprofile[dfuserprofile.ambience=='family'],on='userID',how='inner').rating.mode()

0    2
dtype: int64

In [ ]:
# 2.2.5. What types of food (‘rcuisine’) received the highest rank from people with‘low’ budget?
dfcuisine.Rcuisine
dfuserprofile[dfuserprofile.budget=='low']
dfrating
#how do you get the highest rank=======================================

In [ ]:
# 2.2.6. What is the average of ‘service rating’, received from ‘social drinkers’ about restaurants which just served ‘Wine-Beer’?
dfrating.service_rating.mean()
dfuserprofile[dfuserprofile.drink_level=='social drinker']
dfgeoplaces[dfgeoplaces.alcohol=='Wine-Beer']
# print(dfgeoplaces.axes)
# print(dfuserprofile.axes)
# dfgeoplaces.merge(dfuserprofile,on=['longitude','latitude'])
dfaccepts
dfgeoplaces
dfcuisine

In [146]:
# 2.2.7. How many smokers gave zero ‘service rating’ to the restaurants without an open area?
# dfuserprofile[dfuserprofile.smoker==True]
dfuserprofile[dfuserprofile.smoker=='True']#still not working
dfrating[dfrating.service_rating==0]
dfgeoplaces[dfgeoplaces.area!='open']
dfrating

     userID  placeID  rating  food_rating  service_rating
0     U1077   135085       2            2               2
1     U1077   135038       2            2               1
2     U1077   132825       2            2               2
3     U1077   135060       1            2               2
4     U1068   135104       1            1               2
5     U1068   132740       0            0               0
6     U1068   132663       1            1               1
7     U1068   132732       0            0               0
8     U1068   132630       1            1               1
9     U1067   132584       2            2               2
10    U1067   132733       1            1               1
11    U1067   132732       1            2               2
12    U1067   132630       1            0               1
13    U1067   135104       0            0               0
14    U1067   132560       1            0               0
15    U1103   132584       1            2               1
16    U1103   132732       0            0               2
17    U1103   132630       1            2               0
18    U1103   132613       2            2               2
19    U1103   132667       1            2               2
20    U1103   135104       1            2               0
21    U1103   132663       1            0               2
22    U1103   132733       2            2               2
23    U1107   132660       2            2               1
24    U1107   132584       2            2               2
25    U1107   132733       2            2               2
26    U1044   135088       2            2               2
27    U1044   132583       1            2               1
28    U1070   132608       2            2               1
29    U1070   132609       1            1               1
...     ...      ...     ...          ...             ...
1131  U1087   132732       2            2               1
1132  U1087   132740       1            2               1
1133  U1087   132560       1            2               1
1134  U1087   132594       1            2               1
1135  U1087   132663       1            2               1
1136  U1065   132626       1            0               1
1137  U1065   132706       2            1               2
1138  U1129   132561       1            2               2
1139  U1065   132665       1            1               1
1140  U1129   132665       0            0               0
1141  U1065   132561       1            1               1
1142  U1039   132626       2            2               1
1143  U1039   132564       1            1               2
1144  U1065   132654       1            1               1
1145  U1039   132665       1            1               2
1146  U1130   132654       0            0               0
1147  U1130   132561       0            0               0
1148  U1130   132626       0            0               0
1149  U1130   132706       1            2               1
1150  U1043   132608       1            1               1
1151  U1043   132609       1            2               1
1152  U1011   132717       2            2               1
1153  U1043   132613       1            1               1
1154  U1011   132564       1            1               1
1155  U1043   132732       1            1               1
1156  U1043   132630       1            1               1
1157  U1011   132715       1            1               0
1158  U1068   132733       1            1               0
1159  U1068   132594       1            1               1
1160  U1068   132660       0            0               0

[1161 rows x 5 columns]

In [ ]:
# 2.2.8. Find the correlation between different rating categories ((general) rating, food_rating, service_rating) with the price levels of the restaurants.
# Hint: To answer the last question, you need to change the type of attribute values
# from categorical to numerical.
dfrating.corr
dfgeoplaces.price.map(lambda x: 1 if x == 'low' else 2 if x=='medium' else 3 ) # let 1=low ,2=medium,3=high
dfrating.corr