In [ ]:
import pandas as pd
import numpy as np
import pprint as pprint

###Loadind data from csv files into datafreames

In [ ]:
# Restaurants
dfaccepts=pd.read_csv(filepath_or_buffer='Restaurant-data/chefmozaccepts.csv',encoding='ascii')
dfcuisine=pd.read_csv(filepath_or_buffer='Restaurant-data/chefmozcuisine.csv',encoding='utf8')
dfhours4=pd.read_csv(filepath_or_buffer='Restaurant-data/chefmozhours4.csv',encoding='utf8')
dfparkingdata2=pd.read_csv('Restaurant-data/chefmozparking.csv')
dfgeoplaces=pd.read_csv(filepath_or_buffer='Restaurant-data/geoplaces2.csv',encoding='latin-1')
# # consumers
dfusercuisine=pd.read_csv('Restaurant-data/usercuisine.csv')
dfuserpayment=pd.read_csv('Restaurant-data/userpayment.csv')
dfuserprofile=pd.read_csv('Restaurant-data/userprofile.csv')
# user item rating
dfrating=pd.read_csv('Restaurant-data/rating_final.csv')

###cleaning Data

In [ ]:
# data cleaning
##Geopplaces
# replace all ? with nan
def cleandfgeoplaces():
    withoutqm=dfgeoplaces.replace('?',np.NaN)
#     nulvalues=withoutqm.isnull()
    withoutqm.isnull().sum(axis=0)
    # Drop null collunms bellow a given threshhod here 74. Removes zip,url and fax
    droppedCollumns=withoutqm.dropna(thresh=74,axis=1)
    clean=droppedCollumns.isnull().sum(axis=0)
    # droppedCollumns.isnull().sum(axis=1)
    return clean

# cleandfgeoplaces()
def cleandfuserprofile():
    # find and replace all questionmarks with NAN 
    withoutqm=dfuserprofile.replace('?',np.NaN)
    clean=withoutqm.isnull().sum(axis=0)
    return dfuserprofile

def dfhours4():
#     check for and remove dublicates
# check and interpolate Nan values
# check on the dates that are erronious and resolve
# general cleaning()
def cleandf(data):
    data.replace('?',np.NaN,inplace=True)
    print('no. of duplicates', data.duplicated().sum(axis=0))
    print('null rows',data.isnull().sum(axis=0))
    data.drop_duplicates(inplace = True)
#     adult['sex'].map(lambda x: x.lower()).head()
    print(data.describe())
    return 0

cleandf(dfaccepts)

In [233]:
# 2.1.3. What are the names of different restaurants in the state of ‘tamaulipas’?
# select where name is tamaulipas
dfgeoplaces.loc[:,['name']][(dfgeoplaces.state=='tamaulipas')

                                      name
3           little pizza Emilio Portes Gil
19                          TACOS EL GUERO
73                              palomo tec
76                      TACOS CORRECAMINOS
103  Carnitas Mata  Calle 16 de Septiembre
106                     puesto de gorditas
109  carnitas mata calle Emilio Portes Gil
122                              tacos abi
123                  la perica hamburguesa

In [231]:
# 2.1.4. How many different customers used public transport for going to therestaurants?
len(dfuserprofile[dfuserprofile['transport']=='public'])

82

In [226]:
# 2.1.5. What is the least popular payment method among customers?
min(dfuserpayment.groupby('Upayment'))

('American_Express',     userID          Upayment
 35   U1031  American_Express
 48   U1041  American_Express
 119  U1093  American_Express)

In [241]:
# 2.1.6. How many (different) restaurants work until 19:00 in the evenings?
len(dfhours4[dfhours4.hours=='00:00-19:00'])
# ===================================================

0

In [236]:
# 2.1.7. Which type of food (rcuisine) is served most among the restaurants?
dfcuisine.loc[:,'Rcuisine'].mode()

0    Mexican
dtype: object

In [218]:
# 2.1.8. What is the percentage of customers who were born between 1980 and 1990?
dfuserprofile.loc[:,'birth_year'] #add where clause 
len(dfuserprofile[(dfuserprofile.birth_year>=1980) & (dfuserprofile.birth_year<=1990)])/len(dfuse)

63.04347826086957

In [237]:
# 2.1.9. What is the percentage of students with a medium budget preferring walking to the restaurants?
len(dfuserprofile[(dfuserprofile.budget=='medium') &(dfuserprofile.transport=='on foot')])/len(dfuserprofile)*100

6.521739130434782

###Assignment2- Part 2:

In [ ]:
2.2.1. What are the names of restaurants that do not have public parking lots?
2.2.2. What are the addresses of restaurants which only accept ‘cash’?
2.2.3. Name the cities where the restaurants cook and serve ‘fast food’?
2.2.4. What is the most common ‘rating’ among customers with family?
2.2.5. What types of food (‘rcuisine’) received the highest rank from people with
‘low’ budget?
2.2.6. What is the average of ‘service rating’, received from ‘social drinkers’
about restaurants which just served ‘Wine-Beer’?
2.2.7. How many smokers gave zero ‘service rating’ to the restaurants without an
open area?
2.2.8. Find the correlation between different rating categories
((general) rating, food_rating, service_rating) with the price levels of the
restaurants.
Hint: To answer the last question, you need to change the type of attribute values
from categorical to numerical.